<div class="center jumbotron">
    <h1><b>AZTECA</b></h1>
    <br>
    <%= image_tag("Azteca.jpg", size: "250x250", :alt => "Azteca") -%>
    
    <p></p>
    <p></p>

  <p>Mexican-Irish owned; an enthusiastic couple with a combination of law, catering, accountancy and sales background, who have worked very diligently with different companies before opening their own business to arrive to what we now know as Azteca.</p>

  <p>The aim is to transmit their knowledge of the Mexican culinary art dating back to the Aztec empire and bringing us right up to date giving a taste of today's Mexican culture.</p>

  <p>The Mexican people are very proud of having one of the best, healthiest and very extensive cuisines in the world. Family, friends, food and drink are at the very heart of Mexican society. The main factors that distinguish Mexicans. Ay Caramba!!!</p>

  <p>"Like water for chocolate" the well -known movie by Alfonso Arau , its title a well known Mexican saying meaning...

  ...I made it with all my heart!!

  ...so now you know the answer you´ll get from a Mexican if you ever inquire about a recipe.</p>
