<!-- price & service -->
                <div class="container3">
        			<div class="row">
						<h2 id="details" >Choose your class</h2>
					</div><br>
                    
                     <br>
                       <!-- Pack 1-->
                        <div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Class 1 "Corn"</h2>
                                <div class="space"></div>
    						</div>
                                <ul class="list-group">
                                        <li class="list-group-item">Fresh corn tortillas, sopes, quesadillas, pico de gallo salsa & guacamole</li>
                                        
                                </ul>
                                    <div class="try">
                                    <p class="price"> € 25</p>
                                    <a class="btn btn-default" href="#" type="button">Booking</a>
                                </div>
                            </div>
                            
                           
                            
                        <!-- Pack 2-->
                       <div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Class 2 "Enchiladas"</h2>
                                <div class="space"></div>
    						</div>
                                <ul class="list-group">
                                        <li class="list-group-item">Fresh corn tortillas, sopes, quesadillas, pico de gallo salsa & guacamole</li>
                                        
                                </ul>
                                    <div class="try">
                                    <p class="price"> € 20</p>
                                    <a class="btn btn-default" href="#" type="button">Booking</a>
                                </div>
                            </div>
                            
                        
                        
                        <!-- Pack 3-->
                        <<div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Class 3 "Tamales"</h2>
                                <div class="space"></div>
    						</div>
                                <ul class="list-group">
                                        <li class="list-group-item">Fresh corn tortillas, sopes, quesadillas, pico de gallo salsa & guacamole</li>
                                        
                                </ul>
                                    <div class="try">
                                    <p class="price"> € 30</p>
                                    <a class="btn btn-default" href="#" type="button">Booking</a>
                                </div>
                            </div>
                            </div>
                            
                        </div> 
                    </div>  
      