<!-- price & service -->
                <div class="container3">
        			<div class="row">
						<h2 id="details">Choose your class</h2>
					</div><br>
                    
                     
                       <!-- Pack 1-->
                        <div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Class 1</h2>
                                <div class="space"></div>
    						</div>
                                <ul class="list-group">
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Fresh corn tortillas, sopes, quesadillas, pico de gallo salsa & guacamole</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 3 examples</li>
                                        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> HTML5 & CSS3</li>
                                        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> PSD included</li>
                                        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Light and clean</li>
                                        
                                    </ul>
                                
                                <div class="try">
                                    <p class="price"> € 25</p>
                                    <a class="btn btn-default" href="#" type="button">Booking</a>
                                </div>
                            </div>
                        <!-- Pack 2-->
                        <div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Premium User</h2>
                                <div class="space"></div>
    						</div>
                                <ul class="list-group">
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Responsible design</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 3 examples</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> HTML5 & CSS3</li>
                                        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> PSD included</li>
                                        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Light and clean</li>
                                        
                                    </ul>
                                
                                <div class="try">
                                    <p class="price">$ 8.99</p>
                                    <a class="btn btn-default" href="#" type="button">Buy</a>

                                </div>
                            </div>
                        
                        
                        <!-- Pack 3-->
                        <div class="col-md-3" id="home-box">
                            <div class="pricing_header">
                                <h2>Business User</h2>
                                <div class="space"></div>
							</div>
                                <ul class="list-group">
                                    
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Responsible design</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 3 examples</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> HTML5 & CSS3</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> PSD included</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Light and clean</li>
                                        
                                    </ul>
                                
                                <div class="try">
                                    <p class="price">$ 10.99</p>
                                    <button class="btn btn-default" href="/cart" type="button">Buy</button></li>
                                </div>
                            </div>
                        
                        
                        
                               
                             
                                   
                                </div>
                            
                        </div> 
                    </div>  