<div class="containerMi">
	<div class= center "row">
	    <br>
		<h2><b>About us!</b></h2>
		<br>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" src="http://www.azteca.ie/images/mission02.jpg"/>
          <div class="content-heading"><h3>Mission </h3></div>
          <br>
          <p>Is to be the highest quality service and hospitality catering company in Europe with the creation of an</p>
          <p>environment where all the cast members and guests are happy..</p>
        </div>
     </div>
     <br/>
      <div class="row">
        <div class="span4">
          <img class="img-right" src="http://www.azteca.ie/images/az05_s.jpg"/>
          <div class="content-heading"><h3>Customer says </h3></div>
          <br>
          <p>Always a fantastic atmosphere in Café Azteca. Very friendly and helpful staff. Really tasty Mexican food, and always</p>
          <p> a detailed description (re: ingredients and history ) about the various Mexican dishes on offer.</p>
          <p> A great learning experience will know my stuff if I ever visit México...</p>
        </div>
     </div>
    </div>
    
</div>