<div class="containerS">
	<div class= center "row">
	    <h2><b>Standards</b></h2>
		<div class="col-xs-3">
        	<div class="text">
				<div class="content-text">
					<h3 class="lead">
						Quality
					</h3>
					<p>
						We´re devoted to quality
						<br>
						<br> In everything we do. In our hiring, our training, our work environment, our cast member and Guest experience.
					</p>
				</div>
			</div>
		</div>
        
        <div class="col-xs-3">
            <div class="text">
				<div class="content-text">
					<h3 class="lead">
						Effort
					</h3>
					<p>
						We make every effort to be best
						<br>
						<br> We do the very best work that we can all of the time and we are extremely proud of it.
					</p>
				</div>
			</div>
		</div>
        
        <div class="col-xs-3">
            <div class="text">
				<div class="content-text">
					<h3 class="lead">
						Service
					</h3>
					<p>
						We are happy with your visit
						<br>
						<br>  People not only come expecting good food – they also expect exemplary service. Every one working at Azteca show promptness and courteousness.
					</p>
				</div>
			</div>
		</div>
        
        <div class="col-xs-3">
            <div class="text">
				<div class="content-text">
					<h3 class="lead">
						Cleanliness
					</h3>
					<p>
						Taking care of good presentation 
						<br>
						<br> Back and front of the house cleanliness and sanitation is an importat part of our service.
					</p>
				</div>
			</div>
		</div>
        <br>
        <br>
        <img class="img-left" src="http://www.azteca.ie/images/az06_s.jpg"/>
        <img class="img-left" src="http://www.azteca.ie/images/az02_s.jpg"/>
        <img class="img-left" src="http://www.azteca.ie/images/about01.jpg"/>
        <img class="img-left" src="http://www.azteca.ie/images/az04_s.jpg"/>
        <img class="img-left" src="http://www.azteca.ie/images/az13_s.jpg"/>
        
            
        
        
        
	</div>
</div>