.jumbotron2 {
background: #004d00;
height: 80px;
color: #FFF;
border-radius: 0px;
margin-top: 20px;
font-size: 40px;
padding-top: 10px;
}
.jumbotron2-sm { 
padding-top: 20px;
padding-bottom: 10px; }

.jumbotron2 small {
color: #FFF;
margin-top: 20px;
}
.h1c{
font-size: 5px;
color: white; 
}

.center{
    text-align: center;
}

