.jumbotron2 {
background: #004d00;
height: 80px;
color: #FFF;

border-radius: 0px;
margin-top: 20px;
}
.jumbotron2-sm { 
padding-top: 20px;
padding-bottom: 20px; }

.jumbotron2 small {
color: #FFF;
margin-top: 20px;
}
.h1{
font-size: 5px;
}

.center{
    text-align: center;
}

