$navbar-default-bg: #cc0000;

@import "bootstrap-sprockets";
@import "bootstrap";



#logo{
    float: left;
    font-size: 1.7;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

.center {
    text-align: center;
}

.jumbotron{
     margin-top: 20px;
     color: white;
     background-color:  #145214;
}

.container{
    color: #1a1a1a;
}

footer{
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover{
    color: #222;
}

footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}